{% extends "master/base.html" %}
{% load static %}

{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Department</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Department</li>
          </ul>
        </div>
        <div class="col-auto float-end ms-auto">
          <a
            href="{% url 'addDepartment' %}"
            class="btn add-btn"
            data-bs-toggle="modal"
            data-bs-target="#add_department"
            ><i class="fa-solid fa-plus"></i> Add Department</a
          >
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">
        <div>
          <table class="table table-striped custom-table mb-0 datatable">
			{% if messages %}
				<div class="alert alert-warning">
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
			{% endif %}
            <thead>
              <tr>
                <th class="width-thirty">#</th>
                <th>Department Name</th>
                <th>Department Description</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for dept in departments %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ dept.name }}</td>
                <td>{{ dept.description|truncatewords:10 }}</td>
                <td class="text-end">
                  <div class="dropdown dropdown-action">
                    <a
                      href="#"
                      class="action-icon dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      ><i class="material-icons">more_vert</i></a
                    >
                    <div class="dropdown-menu dropdown-menu-right">
                      <a
                        class="dropdown-item"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_department_{{ dept.id }}"
                        ><i class="fa-solid fa-pencil m-r-5"></i> Edit</a
                      >
                      <a
                        class="dropdown-item"
                        href="#"
                        data-bs-toggle="modal"
                        data-bs-target="#delete_department_{{ dept.id }}"
                        ><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3" class="text-center">No departments found</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->
  
  <!-- Add Department Modal -->
  <div id="add_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Department</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'addDepartment' %}">
            {% csrf_token %}
            <div class="input-block mb-3">
              <label class="col-form-label"
                >Department Name <span class="text-danger">*</span></label
              >
              <input class="form-control" type="text" name="name" required />
            </div>
            <div class="input-block mb-3">
              <label class="col-form-label">Description</label>
              <textarea class="form-control" name="description" rows="3"></textarea>
            </div>
            <div class="submit-section">
              <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Add Department Modal -->
  
  <!-- Edit Department Modals -->
  {% for dept in departments %}
  <div id="edit_department_{{ dept.id }}" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Department</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'editDepartment' dept.id %}">
            {% csrf_token %}
            <div class="input-block mb-3">
              <label class="col-form-label"
                >Department Name <span class="text-danger">*</span></label
              >
              <input class="form-control" type="text" name="name" value="{{ dept.name }}" required />
            </div>
            <div class="input-block mb-3">
              <label class="col-form-label">Description</label>
              <textarea class="form-control" name="description" rows="3">{{ dept.description }}</textarea>
            </div>
            <div class="submit-section">
              <button type="submit" class="btn btn-primary submit-btn">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- /Edit Department Modals -->
  
  <!-- Delete Department Modals -->
  {% for dept in departments %}
  <div class="modal custom-modal fade" id="delete_department_{{ dept.id }}" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete Department</h3>
            <p>Are you sure want to delete "{{ dept.name }}"?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <form method="POST" action="{% url 'deleteDepartment' dept.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary continue-btn">Delete</button>
                </form>
              </div>
              <div class="col-6">
                <a
                  href="javascript:void(0);"
                  data-bs-dismiss="modal"
                  class="btn btn-primary cancel-btn"
                  >Cancel</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- /Delete Department Modals -->
  
</div>
<!-- /Page Wrapper -->

{% endblock content %}